.selector-for-some-widget {
    box-sizing: content-box;
  }
html {
    font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
    font-family: 'Big Shoulders Display', cursive; /* this should be the rest of the output you got from Google fonts */
    background-color: #FACBCB;
}
body {
    margin: 0 auto;
    background-color: lightblue;
    padding: 0 20px 20px 20px;
    border: 5px;
    font-family: Open Sans;
    font-size: 16px;
    position: relative;
    height: 200vh;
    font-weight: 400;  
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: lightblue;
    color: black;
    text-align: left;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.expense-row {
    font-weight: bold;
    color: red;
}
.styled-table tbody tr.income-row {
    font-weight: bold;
    color: green;
}
.left-margin {
    padding-left: 20px;
}

.balance {
    position: relative;
}

.tracker {
    position:relative;
}